<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="selectedItem">{{selectedItem}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- grid -->
    <ion-list [virtualScroll]="items" >
      <ion-item *virtualItem="let item" (click)="itemTapped(item.recipe_id)">
        <ion-thumbnail item-start>
          <ion-img src="{{item.image_url}}"></ion-img>
        </ion-thumbnail>
        <h2><b>{{item.title}}</b></h2>
        <h4><ion-icon icon-left clear small  name="md-star-outline"></ion-icon>Rating- {{item.social_rank|number:'1.1-2'}}</h4>
        <!-- <p>#kids #nonveg</p> -->
      </ion-item>
    </ion-list>
  <!-- grrid end
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.title}}
      <div class="item-note" item-end>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from
    <b>{{selectedItem.title}}</b>
  </div> -->
</ion-content>