<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="selectedItem">{{selectedItem}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- grid -->
    <ion-list [virtualScroll]="items" >
      <ion-item *virtualItem="let item" (click)="itemTapped(item.name)">
        <ion-thumbnail item-start>
          <ion-img src="assets/img/saopolo.jpg"></ion-img>
        </ion-thumbnail>
        <h2>{{item.name}}</h2>
        <h4><ion-icon icon-left clear small  name="time"></ion-icon>  Time</h4>
        <p>#kids #nonveg</p>
      </ion-item>
    </ion-list>
  <!-- grrid end
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.title}}
      <div class="item-note" item-end>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from
    <b>{{selectedItem.title}}</b>
  </div> -->
</ion-content>