<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page" padding  *ngIf="category">
  <ion-card class="card-100" *ngFor="let item of category" (click)="itemTapped(item.name)">
    <img src={{item.imgurl}}/>
    <div class="card-title"><span class="col-white  text-center">{{item.name}}</span></div>
  </ion-card>
</ion-content>
